@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/theme.css';
@import 'additional-styles/custom-fonts.css';
@import 'tailwindcss/utilities';

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=''] {
    display: none;
}

/* Main form container */
.form-container {
    width: fit-content;
    height: fit-content;
    background-color: #ffffffac;
    /* border: 2px solid #ffffff; */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 10px 10px 0px #323232b7; /* Shadow for 3D effect */
    position: relative;
}

/* Horizontal bars */
.horizontal-bar {
    height: 8px;
    background-color: #46ecff; /* Orange color */
    width: 80%;
    margin: 20px 0;
}

/* Placeholder lines inside form */
.line {
    height: 4px;
    background-color: #8362ff;
    width: 60%;
    margin: 16px 0;
}

/* Placeholder block for the form inputs */
.input-placeholder {
    width: 90%;
    height: 100px;
    border: 2px solid #ffffff;
    margin-top: 40px;
}

/* Decorative icons or elements */
.decorative-square, .decorative-triangle {
    width: 10px;
    height: 10px;
    background-color: #30d158;
    position: absolute;
    top: 25%;
}

.decorative-square {
    left: 20%;
}

.decorative-triangle {
    right: 15%;
    border: 0 solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid #ffcc00; /* Yellow color for the triangle */
}